body {
    color: gray;
    font-size: 16px;
    margin: auto;
    width: 960px;
}

h1 {
    color:red;
    text-align: center;
    opacity:0.2;
    font-size:60pt;
    margin-top:-20px;
    margin-bottom: 0px;
}

p { 
    margin:10px;
    text-align: center;
}
a { 
    color:blue;
    text-decoration: none;
}

.table {
    
    font-size:14pt;
    text-align: center;
    margin: auto;
}

table tr th {
    background-color: #009;
    color:white;
    padding:2px 10px;
    border-width: 2px;
}

table tr td {
    background-color: #eee;
    color: #666;
    padding: 2px 10px;
    border-width: 2px;

}
.mt-5 {
    text-align: center;
    margin: auto;
}

.good {
    background-color: cyan;
    width: 30%;
    text-align: center;
    margin: auto;
}

.done {background-color: deeppink;
    width: 30%;
    text-align: center;
    margin: auto;
}




