

{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/css/index.css' %}" />
    {% block extra_style %}{% endblock %}
    <title>index</title>
</head>
<body>
       
    <div>      
            
            
                <p><a href="{% url 'Login' %}" class="footer-item__link">
                    <span class="footer-item__icon"><img src="{% static 'myapp/img/settings-black-18dp.svg' %}"></span>
                    <span class="footer-item__text">ログイン</span>
                </a>
                </p>
                <p><a href="{% url 'signup' %}",class="footer-item__link">
                    <span class="footer-item__icon"><img src="{% static 'myapp/img/people-24px.svg' %}"></span>
                    <span class="footer-item__text">会員登録</span>
                </a>
                </p>
    </div>            
        
    
   
</body>
</html>
