{% load static %}
<!doctype html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'myapp/css/message.css' %}" />
    </head>
    <body class="container">
        <h1 class="display-4 text-primary">
            {{title}}</h1>
        <p>パスワードの変更</p>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="変更">
        </form>
        
        </table>

       <p><a href="{% url 'setting' %}">戻る</a></p>
    </body>
</html>